@model Inventory.Web.Models.ComponentVM

@{
    ViewBag.Title = "Добавление комплектующего";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление комплектующего</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Заполните поля</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ComponentTypeId)
            @Html.DropDownList("ComponentTypeId", null, "Тип комплектующего", htmlAttributes: new { @class = "form-control", @required = "required", @id = "componentTypeDropDown" })
            @Html.ValidationMessageFor(model => model.ComponentTypeId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModelName)
            @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InventNumber)
            @Html.EditorFor(model => model.InventNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InventNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier)
            @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Сохранить</span></i></button>
                <a href="@Url.Action("Index", "Component")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(function () {
            $("#componentTypeDropDown").chosen({ width: "100%" });
        })
    </script>
}