@model Inventory.Web.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "Сменить пароль";
}

<h2>Сменить пароль</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Заполните поля</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword)
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword)
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPasswordConfirm)
            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.NewPasswordConfirm, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Сменить пароль</span></i></button>
        </div>
    </div>
}