@model Inventory.Web.Models.Account.LoginModel

@{
    ViewBag.Title = "Авторизация";
}

<h2>Авторизация</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите свой логин и пароль для входа в систему</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RememberMe)
            @Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit"><i class="fa fa-sign-in" aria-hidden="true" title="Войти" data-toggle="tooltip" data-placement="top"></i> Войти</button>
        </div>
    </div>
}