@model IEnumerable<Inventory.Web.Models.ComponentVM>

@{
    ViewBag.Title = "Комплектующие оборудования";
}

<h2>Комплектующие оборудования</h2>

@using (Html.BeginForm("UpdateComponents", "Equipment", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="equipmentId" value="@ViewBag.EquipmentId" />

    <div class="form-group" id="components">
        <div id="search-input" class="col-md-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Искать</span>
                </div>
                <input type="text" class="form-control" placeholder="введите тип, модель или инвентаризационный номер" />
                <div id="search-buttons" class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">по типу</button>
                    <button class="btn btn-outline-secondary" type="button">по модели</button>
                    <button class="btn btn-outline-secondary" type="button">по номеру</button>
                </div>
            </div>
            <small id="information" class="form-text text-muted">Поиск по типу, модели или инвентаризационному номеру.</small>
        </div>
    </div>

    <div id="found-items-area"></div>

    <div id="attached-items">

    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComponentTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
