@model IEnumerable<Inventory.Web.Models.EquipmentVM>

@{
    ViewBag.Title = "Оборудование";
}

<h2>Оборудование</h2>
<a href="@Url.Action("Create", "Equipment")" class="btn btn-primary" type="button">Добавить оборудование</a>
<br />
<br />
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EquipmentType.Name)</th>
        <th>@Html.DisplayNameFor(model => model.InventNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EquipmentType.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.InventNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.ActionLink("Подробне", "Details", "Equipment", new { id = item.Id }, null)</td>
        </tr>
    }
</table>
