@model PagedList.IPagedList<Inventory.Web.Models.RepairPlaceVM>
@using PagedList;
@using PagedList.Mvc;

<table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm" id="listTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                <td>
                    <div class="btn-group float-right" role="group">
                        <a class="btn btn-info" name="editButton" id="editButton" href="@Url.Action("Edit", "RepairPlace", new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                        <a class="btn btn-warning" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "RepairPlace", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                        <a class="btn btn-danger delete-prompt" name="deleteButton" id="@item.Id"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i> Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("AjaxRepairPlaceList", new { page }),
 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result" }))
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    <!-- Bootstrap modal popup -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="success-message"> Вы действительно хотите удалить запись? </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger delete-confirm">Да</button>
                    <button class="btn btn-default delete-cancel" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        modalRemovalWindow('/RepairPlace/Delete');
    </script>