@model Inventory.Web.Models.User.ChangeRoleModel

@{
    ViewBag.Title = "Сменить роль";
}

<h2>Сменить роль</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Данные о пользователе</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Role)
            @Html.DropDownList("Role", null, "Роль", htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Сохранить</span></i></button>
            <a href="@Url.Action("Index", "User")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
        </div>
    </div>
}