<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Инвентаризация</title>
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a  href="@Url.Action("Index", "Home")">Инвентаризация</a></h3>
            </div>

            <ul class="list-unstyled components">
                <!-- <p>Навигация</p> -->
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> Главная</a>
                </li>
                <li><!-- class="active" -->
                    <a href="#equipmentDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-laptop" aria-hidden="true"></i> Оборудование</a>
                    <ul class="collapse list-unstyled" id="equipmentDropdown">
                        <li>
                            <a href="@Url.Action("Index", "Equipment")">Оборудование</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "EquipmentType")">Тип оборудования</a>
                        </li>
                    </ul>
                </li>
                <li><!-- class="active" -->
                    <a href="#componentDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-headphones" aria-hidden="true"></i> Комплектующие</a>
                    <ul class="collapse list-unstyled" id="componentDropdown">
                        <li>
                            <a href="@Url.Action("Index", "Component")">Комплектующие</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ComponentType")">Тип комплектующего</a>
                        </li>
                    </ul>
                </li>
                <li><!-- class="active" -->
                    <a href="#trackingDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-address-card" aria-hidden="true"></i> Отслеживание</a>
                    <ul class="collapse list-unstyled" id="trackingDropdown">
                        <li>
                            <a href="@Url.Action("Index", "History")">История</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "RepairPlace")">Место ремонта</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "StatusType")">Тип статуса</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "User")"><i class="fa fa-users" aria-hidden="true"></i> Пользователи</a>
                </li>
            </ul>

            <ul class="list-unstyled account">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in" aria-hidden="true"></i> Войти</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out" aria-hidden="true"></i> Выйти</a>
                    </li>
                }
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>Меню</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @if (TempData["success"] != null)
            {
                <div id="message-div" class="p-3 mb-2 bg-success text-white">
                    <div class="container">
                        <b>@TempData["success"]</b>
                        <span class="float-right message-div-close" onclick="closeMessageDiv()"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
            }
            @if (TempData["fail"] != null)
            {
                <div id="message-div" class="p-3 mb-2 bg-danger text-white">
                    <div class="container">
                        <b>@TempData["fail"]</b>
                        <span class="float-right message-div-close" onclick="closeMessageDiv()"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
            }


            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>

    <script>
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
