<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Инвентаризация</title>
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Инвентаризация</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="componentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Комплектующие
                        </a>
                        <div class="dropdown-menu" aria-labelledby="componentDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "ComponentType")">Тип комплектующего</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Component")">Комплектующие</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="equipmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Оборудование
                        </a>
                        <div class="dropdown-menu" aria-labelledby="equipmentDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "EquipmentType")">Тип оборудования</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Equipment")">Оборудование</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="componentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Отслеживание
                        </a>
                        <div class="dropdown-menu" aria-labelledby="componentDropdown">

                            <a class="dropdown-item" href="@Url.Action("Index", "StatusType")">Тип статуса</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "RepairPlace")">Место ремонта</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "History")">История</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "User")">Пользователи</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Account")">Войти</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountDropdown">

                                <a class="dropdown-item" href="@Url.Action("ChangeEmail", "Account")">Сменить почту</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account")">Сменить пароль</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Выйти</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @if (TempData["success"] != null)
    {
        <div id="success-div" class="p-3 mb-2 bg-success text-white">
            <div class="container">
                <b>@TempData["success"]</b>
                <span class="float-right success-div-close" onclick="closeSuccessDiv()" style="cursor: pointer"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
