@model PagedList.IPagedList<Inventory.Web.Models.HistoryVM>
@using PagedList.Mvc;

@if (Model.Count <= 0)
{
    <p>Нет результатов</p>
    <table id="list-table"></table>
}
else
{
    <table class="table table-hover table-responsive table-condensed  table-striped" id="list-table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.First().EquipmentId)</th>
                <th> @Html.DisplayNameFor(model => model.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.First().RepairPlaceId) </th>
                <th> @Html.DisplayNameFor(model => model.First().StatusTypeId) </th>
                <th>@Html.DisplayNameFor(model => model.First().ChangeDate) </th>
                <th> @Html.DisplayNameFor(model => model.First().Comments)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>@Html.DisplayFor(modelItem => item.Equipment.EquipmentType.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Employee.EmployeeFullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.RepairPlace.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatusType.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChangeDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                    <td>
                        <div class="btn-group float-right" role="group">
                            <a class="btn btn-info" name="editButton" id="editButton" href="@Url.Action("Edit", "History", new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"> Редактировать</i></a>
                            <a class="btn btn-warning" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "History", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"> Просмотреть</i></a>
                            <a class="btn btn-danger delete-prompt" name="deleteButton" id="@item.Id"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"> Удалить</i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="contentPager">
        @Html.PagedListPager(
        Model,
        page => Url.Action("HistoryFilter", new { page }))

        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    </div>
}

<button class="btn btn-default" onclick="toPrevMain('admin')">Вернуться к списку</button>

<!-- Bootstrap modal popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message"> Вы действительно хотите удалить запись? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger delete-confirm">Да</button>
                <button class="btn btn-default delete-cancel" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

<script>
    modalRemovalWindow('/History/Delete');
    @*check_input("Введите название должности");*@
    pagination();
</script>